In [1]:
import pandas as pd

In [2]:
csv_dir = "/mnt/t7/dnn/llm_practicing/05_RAG_practicing/datas/BUSAN_LOCAL_RESTAURNATS_FILLED.csv"

In [3]:
bs_re_df = pd.read_csv(csv_dir)

In [4]:
bs_re_df.head()

,MENU_TYPE,RESTAURANT_NAME_KOREAN,ADDRESS_KOREAN,MENU_NAME,NATIONAL_PHONE_NUMBER,DISTRICT_NAME,LATITUDE,LONGITUDE,RESTAURANT_NAME_ENGLISH,ADDRESS_ENGLISH,...,BREAKFAST_YN,LUNCH_YN,DINNER_YN,BEER_YN,OUTDOOR_SEAT_YN,MENU_FOR_CHILDREN_YN,RESTROOM_YN,PARKING_LOT_YN,PAYMENT_OPTIONS,REVIEW
0,한식,해운대 신 대구탕,129.08,부산광역시 연제구 연산동 1127번지 5호 1층,대구탕,00:00.0,00:00.0,35.187,NaN,"Busan, South Korea",...,True,True,True,True,False,False,True,freeParkingLot,acceptsCreditCards,Not bad\nNice and fresh fish and soup~~\nGood\...
1,뷔페식,해암뷔페,129.081,"부산광역시 연제구 연산동 1242번지 8호 ,13",뷔페,00:00.0,00:00.0,35.186,Haeam Buffet Wedding Hall,"South Korea, Busan, Yeonje-gu, Jungang-daero, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good\nIt is located near Exit 3 of Yeonsan Sub...
2,한식,할매보쌈,129.08,부산광역시 연제구 연산동 1242번지 6호,보쌈,00:00.0,00:00.0,35.186,NaN,"151 Sunhwa-dong, Jung District, Seoul, South K...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,중국식,팔선각,129.075,부산광역시 연제구 거제동 1490번지 2호,중식,00:00.0,00:00.0,35.191,Palsun,"249 Dongho-ro, 장충동 Jung District, Seoul, South...",...,NaN,True,True,True,False,NaN,True,NaN,acceptsCreditCards,This is the Chinese restaurant of Shilla Hotel...
4,일식,팔미초밥,129.082,부산광역시 연제구 연산동 701번지 8호 팔미빌딩,회초밥,00:00.0,00:00.0,35.185,NaN,"South Korea, Busan, Yeonje-gu, World cup-daero...",...,False,True,True,True,False,False,True,NaN,acceptsCreditCards,"So so good. Taste is very good\nLoud, super un..."

In [5]:
bs_re_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MENU_TYPE                626 non-null    object
 1   RESTAURANT_NAME_KOREAN   626 non-null    object
 2   ADDRESS_KOREAN           626 non-null    object
 3   MENU_NAME                626 non-null    object
 4   NATIONAL_PHONE_NUMBER    626 non-null    object
 5   DISTRICT_NAME            626 non-null    object
 6   LATITUDE                 626 non-null    object
 7   LONGITUDE                626 non-null    float64
 8   RESTAURANT_NAME_ENGLISH  201 non-null    object
 9   ADDRESS_ENGLISH          528 non-null    object
 10  OPENING_HOURS            404 non-null    object
 11  RATING                   483 non-null    float64
 12  RATING_COUNT             483 non-null    float64
 13  PRICE_LEVEL              193 non-null    object
 14  TAKEOUT_YN               272 non-null    object
 15  RESERVABLE               388 non-null    object
 16  BREAKFAST_YN             166 non-null    object
 17  LUNCH_YN                 438 non-null    object
 18  DINNER_YN                443 non-null    object
 19  BEER_YN                  429 non-null    object
 20  OUTDOOR_SEAT_YN          352 non-null    object
 21  MENU_FOR_CHILDREN_YN     388 non-null    object
 22  RESTROOM_YN              461 non-null    object
 23  PARKING_LOT_YN           119 non-null    object
 24  PAYMENT_OPTIONS          466 non-null    object
 25  REVIEW                   469 non-null    object
dtypes: float64(3), object(23)
memory usage: 127.3+ KB

In [6]:
missing_values = bs_re_df.isnull().sum()
missing_values

MENU_TYPE                    0
RESTAURANT_NAME_KOREAN       0
ADDRESS_KOREAN               0
MENU_NAME                    0
NATIONAL_PHONE_NUMBER        0
DISTRICT_NAME                0
LATITUDE                     0
LONGITUDE                    0
RESTAURANT_NAME_ENGLISH    425
ADDRESS_ENGLISH             98
OPENING_HOURS              222
RATING                     143
RATING_COUNT               143
PRICE_LEVEL                433
TAKEOUT_YN                 354
RESERVABLE                 238
BREAKFAST_YN               460
LUNCH_YN                   188
DINNER_YN                  183
BEER_YN                    197
OUTDOOR_SEAT_YN            274
MENU_FOR_CHILDREN_YN       238
RESTROOM_YN                165
PARKING_LOT_YN             507
PAYMENT_OPTIONS            160
REVIEW                     157
dtype: int64

In [7]:
df_rating_missing = bs_re_df[bs_re_df['RATING'].isnull()]

In [8]:
df_rating_missing

,MENU_TYPE,RESTAURANT_NAME_KOREAN,ADDRESS_KOREAN,MENU_NAME,NATIONAL_PHONE_NUMBER,DISTRICT_NAME,LATITUDE,LONGITUDE,RESTAURANT_NAME_ENGLISH,ADDRESS_ENGLISH,...,BREAKFAST_YN,LUNCH_YN,DINNER_YN,BEER_YN,OUTDOOR_SEAT_YN,MENU_FOR_CHILDREN_YN,RESTROOM_YN,PARKING_LOT_YN,PAYMENT_OPTIONS,REVIEW
2,한식,할매보쌈,129.08,부산광역시 연제구 연산동 1242번지 6호,보쌈,00:00.0,00:00.0,35.186000,NaN,"151 Sunhwa-dong, Jung District, Seoul, South K...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,한식,토곡식육식당,129.106,부산광역시 연제구 연산동 490번지 30호,소고기 모듬구이,00:00.0,00:00.0,35.183000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,한식,청담동 대구뽈찜 아구찜,129.083,부산광역시 연제구 연산동 746번지 3호 1층,아구찜,00:00.0,00:00.0,35.185000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,뷔페식,주식회사 더파티 더파티 시청점,129.076,부산광역시 연제구 연산동 1422번지 8호 국민연금빌딩 2층,뷔페,00:00.0,00:00.0,35.178000,NaN,"South Korea, Seoul, Jongno District, Sinmunno ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,회집,원조메기탕,129.072,부산광역시 연제구 거제동 574번지 52호,메기탕,00:00.0,00:00.0,35.181000,NaN,"574-52 Geoje-dong, Yeonje-gu, Busan, South Korea",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,한식,토박이 상황삼계탕.오리불고기,35.235741,부산광역시 북구 화명동 2269 - 1 정능빌딩 306호,"삼계탕, 오리고기",00:00.0,00:00.0,129.012657,NaN,"South Korea, Busan, 화명동 2269-1번지 정능빌딩 303 306호...",...,NaN,True,True,True,NaN,False,True,NaN,acceptsCreditCards,NaN
593,식육(숯불구이),화명참숯갈비,35.2353615,부산광역시 북구 화명동 2271 - 6,소갈비,00:00.0,00:00.0,129.010609,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,복어취급,덕천복집,35.2125481,"부산광역시 북구 덕천동 345 - 9 1,2층",복국,00:00.0,00:00.0,129.009447,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,한식,지리산옻닭,35.1959578,부산광역시 북구 구포동 1187 - 2,한식(옻닭),00:00.0,00:00.0,128.990398,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,식육(숯불구이),주식회사세연정,부산광역시 동래구 충렬대로 149 (온천동),"생갈비, 양념갈비",051-506-6666,부산광역시 동래구,35.20517824,129.076951,Hokkaido,"Hokkaido, Japan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
xls_dir = "/mnt/t7/dnn/llm_practicing/05_RAG_practicing/datas/BUSAN_LOCAL_RESTAURNATS_FILLED.xlsx"
df = pd.read_excel(xls_dir)

In [10]:
df.head()

,MENU_TYPE,RESTAURANT_NAME_KOREAN,ADDRESS_KOREAN,MENU_NAME,NATIONAL_PHONE_NUMBER,DISTRICT_NAME,LATITUDE,LONGITUDE,RESTAURANT_NAME_ENGLISH,ADDRESS_ENGLISH,...,BREAKFAST_YN,LUNCH_YN,DINNER_YN,BEER_YN,OUTDOOR_SEAT_YN,MENU_FOR_CHILDREN_YN,RESTROOM_YN,PARKING_LOT_YN,PAYMENT_OPTIONS,REVIEW
0,한식,해운대 신 대구탕,129.08,부산광역시 연제구 연산동 1127번지 5호 1층,대구탕,00:00.0,00:00.0,35.187,NaN,"Busan, South Korea",...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,freeParkingLot,acceptsCreditCards,Not bad\nNice and fresh fish and soup~~\nGood\...
1,뷔페식,해암뷔페,129.081,"부산광역시 연제구 연산동 1242번지 8호 ,13",뷔페,00:00.0,00:00.0,35.186,Haeam Buffet Wedding Hall,"South Korea, Busan, Yeonje-gu, Jungang-daero, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good\nIt is located near Exit 3 of Yeonsan Sub...
2,한식,할매보쌈,129.08,부산광역시 연제구 연산동 1242번지 6호,보쌈,00:00.0,00:00.0,35.186,NaN,"151 Sunhwa-dong, Jung District, Seoul, South K...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,중국식,팔선각,129.075,부산광역시 연제구 거제동 1490번지 2호,중식,00:00.0,00:00.0,35.191,Palsun,"249 Dongho-ro, 장충동 Jung District, Seoul, South...",...,NaN,1.0,1.0,1.0,0.0,NaN,1.0,NaN,acceptsCreditCards,This is the Chinese restaurant of Shilla Hotel...
4,일식,팔미초밥,129.082,부산광역시 연제구 연산동 701번지 8호 팔미빌딩,회초밥,00:00.0,00:00.0,35.185,NaN,"South Korea, Busan, Yeonje-gu, World cup-daero...",...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN,acceptsCreditCards,"So so good. Taste is very good\nLoud, super un..."